@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "./theme.css";
@import "./typography.css";
@import "./utilities.css";

html,
body,
#root {
    height: 100%;
}

body {
    background: var(--color-background);
    color: var(--color-text);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

/* .dark body {
    @apply bg-gray-950 text-gray-100;
} */